
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1068%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(171%2c 167%2c 173%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c666.682C134.802%2c656.69%2c266.057%2c657.247%2c393.582%2c612.426C551.358%2c556.972%2c740.061%2c520.833%2c824.942%2c376.738C910.459%2c231.563%2c889.352%2c36.866%2c824.14%2c-118.493C764.449%2c-260.699%2c610.504%2c-328.75%2c488.962%2c-423.688C391.275%2c-499.992%2c289.599%2c-558.386%2c182.057%2c-620.029C38.464%2c-702.337%2c-83.693%2c-861.316%2c-248.531%2c-846.417C-413.146%2c-831.538%2c-526.887%2c-675.125%2c-630.764%2c-546.56C-731.901%2c-421.387%2c-812.148%2c-279.349%2c-835.37%2c-120.108C-858.62%2c39.325%2c-834.011%2c203.902%2c-761.159%2c347.61C-689.986%2c488.005%2c-578.122%2c612.839%2c-432.956%2c673.692C-297.09%2c730.646%2c-146.918%2c677.572%2c0%2c666.682' fill='%2389848c'%3e%3c/path%3e%3cpath d='M1920 1930.107C2082.129 1973.097 2264.605 1926.337 2403.081 1831.688 2540.1059999999998 1738.031 2594.11 1570.292 2665.585 1420.497 2738.302 1268.099 2869.793 1112.52 2823.753 950.06 2777.386 786.4449999999999 2576.673 731.1379999999999 2441.122 628.4449999999999 2335.369 548.327 2232.462 476.56100000000004 2115.668 413.61699999999996 1967.414 333.71900000000005 1830.724 182.72900000000004 1664.519 209.90999999999997 1498.98 236.98199999999997 1404.1860000000001 411.716 1304.1190000000001 546.336 1210.414 672.3969999999999 1103.375 805.736 1104.87 962.802 1106.3139999999999 1114.495 1222.616 1235.051 1311.841 1357.737 1385.55 1459.089 1486.329 1526.913 1577.589 1612.8020000000001 1693.247 1721.654 1766.479 1889.4 1920 1930.107' fill='%23cdcace'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1068'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 60px 0;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input{
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  font-size: 18px;
  color: #333;
}

#search-button{
  padding: 10px 20px;
  background-color: #138065;
  color: #fff;
  border: none;
  font-size: 18px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}

.search-results{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.search-result{
  width: 30%;
  height: 100%;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  overflow: hidden;
}

.search-result img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

.search-result:hover img {
  opacity: 0.8;
}

.search-result a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  display: block;
  text-transform: capitalize;
  padding: 10px;
}

#show-more-button{
  background-color: #008cba;
  font-size: 18px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width:768px) {
  .search-results{
    padding: 20px;
  }

  .search-result{
    width: 45%;
  }
}

@media screen and (max-width:480px) {
  .search-result{
    width: 100%;
  }
}